backend-secret-key=xxxx
backend-redis-stringxxxx
backend-database-string=xxxx
backend-test-database-string=xxxx
backend-twitter-consumer-key=xxxx
backend-twitter-consumer-secret=xxxx
backend-twitter-post-limit=xxxx
backend-cloud-vendor=xxxx
backend-aws-access-key-id=xxxx
backend-aws-secret-access-key=xxxx
backend-s3-bucket=xxxx
backend-monkeylearn-api-token=xxxx
backend-monkeylearn-model-id=xxxx
backend-streaming-string=xxxx
backend-streaming-auth-source=xxxx
backend-streaming-database=xxxx
backend-streaming-collection=xxxx